.city {
  margin: 8px auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  border-radius: 50px;
  gap: 5px;
  padding: 2px;
  color: white;
}

.weatherContainer {
  width: 340px;
  margin: 16px auto;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.windInfo {
  grid-row: 2 / 3;
  grid-column: 1 /2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.weatherData {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.tempMin,
.tempMax {
  font-size: 2.2rem;
}

.tempMax {
  color: #ffaa86;
}

.tempMin {
  color: #9ccaff;
}

.windSpeed,
.weatherText {
  font-size: 1.4rem;
  color: white;
}
