.randomCardActivity {
  display: none;
}

.p-card-content {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .randomCardActivity {
    width: 30vw;
    height: 25vh;
  }
  .p-card-content .p-card-title {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }
  .p-card-content .p-card-subtitle {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .randomCardActivity {
    display: block;
    position: absolute;

    top: 22.5vh;
    right: 24px;
  }
}
