.cardActivity {
  margin: 10px;
  width: 70vw;
}
.p-cardActivity {
  margin-bottom: 0.5rem;
}

.p-card .p-card-body {
  padding: 0rem;
  width: 100%;
}

.p-card .p-card-content {
  padding: 1rem;
}

.p-card-body,
.p-card-content {
  width: 100%;
}

.cardActivityRandom {
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
  position: absolute;
  height: 160px;
}
.cardActivityRandomRotate > .front {
  transform: perspective(1000px) rotateY(0deg);
}
.cardActivityRandomRotate > .back {
  transform: perspective(1000px) rotateY(180deg);
  z-index: 1;
}
.cardActivityRandomRotate:hover > .front {
  transform: perspective(1000px) rotateY(-180deg);
}
.cardActivityRandomRotate:hover > .back {
  transform: perspective(1000px) rotateY(0deg);
}
@media screen and (min-width: 768px) {
  .cardActivity {
    width: 30vw;
    height: 25vh;
  }
  .card .p-card-title {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }
  .card .p-card-subtitle {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .card .p-cardActivity {
    font-size: 1.4rem;
  }
}
