.generalContainer {
  position: relative;
  min-height: 100vh;
  height: 100%;
}

.activities {
  width: 100%;
  height: 100%;
}
.SearchBar {
  padding: 2rem;
}

.buttons {
  display: none;
}

.logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .SearchBar {
    padding-bottom: 1rem;
  }

  .buttons {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    gap: 16px;
  }
  .buttons button {
    width: 8vw;
    font-size: 1.2rem;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin-top: 8vh;
    box-shadow: 0px 0px 8px black;
    padding: 8px;
    cursor: pointer;
  }

  .logo {
    display: inherit;
    position: fixed;
    right: 10%;
    top: 45px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 8px 24px;
  }
  .logo img {
    width: 250px;
  }
}
