.generalContainer {
  position: relative;
  min-height: 100vh;
  height: 100%;
}

.buttons {
  display: none;
}

.activities {
  width: 100%;
  height: 100%;
}
.SearchBar {
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .SearchBar {
    padding-bottom: 1rem;
  }
}
