.navbar {
  background-color: rgba(0, 0, 0, 0.2) ;
}

.logoHackathon {
  padding: 10px 10px;
  width: 70px;
  height:70px;
}

h2.titleAPropos, div.aboutHackathon p, div.aboutAPI p {
  padding: 10px;
}

li.api {
  padding: 5px 0;
}

li.api a {
  color: black;
  text-decoration: none;
}

h2.titleAPropos {
  font-size: 1.2em;
  text-decoration: underline;
}

p.no-justify{
  padding: 10px 10px 20px 10px;
  margin-bottom: 30px;
}

img.photo {
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
div.trombi{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.logoHackathon {
  padding: 10px 10px;
  width: 100px;
  height:100px;
}

h2.titleAPropos, div.aboutHackathon p, div.aboutAPI p {
  padding: 15px;
}

li.api {
  padding: 7px 0;
}

p.no-justify{
  padding: 15px 15px 25px 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

img.photo {
  padding: 0;
}
}